
*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    color:white;
}

h1{
     margin: 20px;
    color:green;
    text-align: center;
    font-weight: bold;
}
 h2{
   text-align: center;
   color:magenta;
   letter-spacing: 1.2px;
   font-weight: bold;
 }
 h2:hover{
  font-size: 28px;
  color:red;
 }
#navbar{
  margin-top: 30px;
    height: 45px;
    width:100%;
    background-color:lime;
    display:flex;
    place-items: center; 
}
 #navbar a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding-left:250px;
    transition: 1.2s ease-in;
 }
 #navbar a:hover{
    color:rgb(255, 0, 0);
    
 }
 #items{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding:30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
 }
 .images img{
    height:300px;
    width: 100%px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    border:none;
 }
  .images img:hover{
    transform:scale(1.05);

  }
  .images h4{
    padding:5px;
    text-align: center;
    color:black;
    font-size: 18px;
  }
  .images button{
    color:whitesmoke;
    background-color: green;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    padding:5px 30px;
    font-size: 20px;
    display: block;
    margin:0 auto;
    margin-top:7px;
    
  }
  .images button:hover{
    transform:scale(0.8) ;
    background-color: gold;
    color:black;
  }
  .footer{
    height:300px;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu a{
    display:block;
    font-size: 18px;
    margin: 29px;
  }
  .menu h3{
    text-align: center;
    font-size:22px ;
     color:yellow;
  }
  .contact p{
    font-size: 18px;
    margin: 29px;
  }
  .contact h3{
     text-align: center;
    font-size:22px ;
     color:yellow
  }
  .icons i{
    font-size: 27px;
    margin: 16px;
    display: block;
  }
.icons h3{
   text-align: center;
    font-size:22px ;
    color:yellow
}
.gmail {
  display: flex;
  justify-content:center;
  align-items: center;
  height:35px;
  width: 30%;
   margin:3px;
   margin-left: 35%;

}  
  .gmail h4{
   color:black;
    font-size: 20px; 
   
}
.gmail h4:hover{
  color:green;

}

 
